<launch>
	<arg name="world_file" default="$(find turtlebot_gazebo)/worlds/playground.world"/>
      <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
      	 <arg name="world_file" value="$(arg world_file)"/>
      </include>


     <node name="walker" pkg="turtlebot_walker" type="walker_node" 
     	output="screen">
     </node>
</launch>